name: CI/CD

on:
  push:
    branches: [ preprod ]
    tags: [ "v*.*.*" ]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [ preprod ]
  workflow_dispatch:
    inputs:
      branch:
        description: "Build edilecek branch"
        required: true
        default: "preprod"
        type: choice
        options:
          - preprod
          - prod

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-and-push:
    if: |
      (github.ref_name == 'preprod' && (github.event_name == 'push' || github.event_name == 'pull_request')) ||
      (inputs.branch == 'preprod' && github.event_name == 'workflow_dispatch') ||
      startsWith(github.ref, 'refs/tags/') ||
      (inputs.branch == 'prod' && github.event_name == 'workflow_dispatch')

    uses: ozanbozkurtt/pipelines/.github/workflows/docker-swarm-v1.yml@main
    with:
      branch: ${{ inputs.branch || (startsWith(github.ref, 'refs/tags/') && 'prod') || 'preprod' }}
      version: ${{ github.run_number }}
      dockerfile_path: ./dockerfiles/${{ inputs.branch || (startsWith(github.ref, 'refs/tags/') && 'prod') || 'preprod' }}/${{ github.event.repository.name }}
    secrets: inherit
