name: CI/CD

on:
  push:
    branches: [ main ]
    tags: [ "v*.*.*" ]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [ main ]
  workflow_dispatch:
    inputs:
      target_branch:
        description: "Build edilecek branch"
        required: true
        default: "main"
        type: choice
        options:
          - main

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build-and-push:
    if: |
      startsWith(github.ref, 'refs/tags/v') ||
      github.ref_name == 'main' ||
      github.event_name == 'pull_request'

    uses: ozanbozkurtt/pipelines/.github/workflows/docker-swarm-v1.yml@main
    with:
      branch: ${{ startsWith(github.ref, 'refs/tags/v') && 'main' || (github.event_name == 'pull_request' && github.base_ref || github.ref_name) }}
      version: ${{ github.run_number }}
      dockerfile_path: ./dockerfiles/${{ startsWith(github.ref, 'refs/tags/v') && 'main' || (github.event_name == 'pull_request' && github.base_ref || github.ref_name) }}/${{ github.event.repository.name }}
    secrets:
      DOCKER_REGISTRY_USER: ${{ secrets.DOCKER_REGISTRY_USER }}
      DOCKER_REGISTRY_TOKEN: ${{ secrets.DOCKER_REGISTRY_TOKEN }}
      PAT: ${{ secrets.PAT }}
